<body class="<%= !current_user ? 'landing' : nil %>">
	<% unless current_user %>
		<div class="log-in">
		<ul>D.I.Y. isn't Cheap.</ul>
		<ul>Keep Track of Your Purchases.</ul>
		<p><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></p>
		</div>
	<% end %>
	<% if current_user %>
	<img src="assets/images/arleigh-mitchell6.jpg">
	<div class="body">
		<% if current_user && current_user.admin == false %>
			<h2>Welcome <%= current_user.fname%> : Teacher</h2>
		<% end %>
		<% if current_user && current_user.admin == true %>
			<h2>Welcome <%= current_user.fname%> : Administrator</h2>
			<h3>Teachers:</h3>
			
		<% end %>

		<% if current_user && current_user.admin == false %>
			<h3>Your Reports: </h3><br>
			<% @reports.each do |report| %>
				<h4><%= link_to report.name, report %>
				</h4><br>
			<% end %>

		<% end %>

		<% if current_user && current_user.admin == true %>
			<% @users.sort_by(&:lname).each do |user| %>
				<h4><%= link_to user.full_name, teacher_path(user.id) %></h4><br>
			<% end %>

		<% end %>
	</div>
	<<% end %>
</body>