<div class="item_add">	
	<h2><%= @report.name %></h2>
	<% if current_user && current_user.admin == true %>
		<h4><%= @report.user.full_name %></h4>
	<% end %>
	<% if current_user && current_user.admin == false %>
		<form action="/item-add" method="post">
			<label class="label" for="product_name">Product</label><br>
			<input type="text" name="product_name"><br>
			<label class="label" for="price">Price</label><br>
			<input type="text" name="price"><br>
			<label class="label" for="quantity">Quantity</label><br>
			<input type="text" name="quantity"><br>
			<input type="hidden" name="report_id" value="<%= @report.id %>"><br>
			<button class="btn btn-default btn-sm" type="submit">Add Item</button>
		</form><br><br>
	<% end %>
	<div class="table-responsive">
		<table class="table">
		  <tr>
		    <th>Product</th>
		    <th>Price</th>
		    <th>Quantity</th>
		    <th>Date</th>
		    <th>Total</th>
		  </tr>
		  <% @report.items.each do |item| %>
		  <tr>
		    <td><%= item.product_name %></td>
		    <td>$ <%= item.price %></td>
		    <td><%= item.quantity %>
		    	<% if current_user && current_user.admin == false %>
				<div class="forms">
				    <form class="form" method="post" action="/add-one">
						<input type="hidden" name="item_id" value="<%= item.id %>">
						<button class="btn btn-default btn-xs" type="submit">+</button>
					</form>
					<form class="form" method="post" action="/subtract-one">
						<input type="hidden" name="item_id" value="<%= item.id %>">
						<button class="btn btn-default btn-xs" type="submit">-</button>
					</form>
				</div>
				<% end %>
			</td>
		    <td><%= item.created_at.strftime("%F") if item.created_at %></td>
		    <td>$ <%= item.price*item.quantity %></td>
		  </tr>
		  <% end %>
		</table>
	</div>
	<h3>Total: $ <%= @totals.sum %></h3><br>
	<h4><%= link_to 'Print', 'your_link_here', :onclick => 'window.print();return false;'%> 
	<% if current_user && current_user.admin == true %>
		 | <%= link_to "Back", :back %></h4>
	<% end %><br>
	<% if current_user && current_user.admin == false %>
	<form method="post" action="/delete-report">
		<input type="hidden" name="report_id" value="<%= @report.id %>">
		<br><button class="btn btn-default btn-sm" type="submit">Delete Report</button>
	</form>
	<% end %>
</div>